body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background-color: #f1f9ff;
  color: black;
}

main {
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 20px;
}

/****************   Nav Section **********************/
nav {
	display: flex;
  justify-content: space-between;
  background-color: #099ad3;
  border-bottom: 5px solid #6fd6ff;
}

nav p {
  padding: 0px 20px;
}

section a {
  text-decoration: none;
  color: orange;
}

section a:hover {
  text-decoration: underline;
  color: gold;
}

nav a {
  text-decoration: none;
  color: purple;
}

nav a:hover {
  text-decoration: underline;
  color: gold;
}

footer a {
  text-decoration: none;
  color: purple;
}

footer a:hover {
  text-decoration: underline;
  color: gold;
}

/***********************  Footer Section   **************************/
footer {
  display: flex;
  justify-content: center;
  background-color: #099ad3;
  border-top: 5px solid #6fd6ff;
}

footer p {
   padding: 20px;
}

/*********** Splash Page ************************/
header {
  display: flex;
  flex-direction: column;
  align-items:center;
}

header h1 {
  color: orange;
  font-family: "Montserrat", sans-serif;
}

header img {
  width: 275px;
  height: auto;
  border: 5px solid black;
  border-radius: 15px;
}

.address {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 10px 20px;
}

.tagline {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 10px 20px;
}

/************* Sections ********************/
hr {
  height: 5px;
  background-color: #099ad3;
}

section {
  border: 2px solid #099ad3;
  border-radius: 15px;
  padding: 10px 30px 20px 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}

section h2 {
  color: orange;
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
}

section h3 {
  color: orange;
  font-family: "Montserrat", sans-serif;
}

section dl {
  display: grid;
  grid-template-columns: 400px 1fr;
}

section ul {
  list-style: circle;
}

section a {
  text-decoration: none;
  color: purple;
}

section a:hover {
  text-decoration: underline;
  color: gold;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card img {
  display: block;
  margin: 25px;
  width: 275px;
  height: auto;
}

.card {
  justify-items: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #099ad3;
}

.card:hover {
  background-color: #099ad3;
  border: 2px solid orange;
  border-radius: 15px;
  transform: scale(1.02);
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      flex-direction: column;
      display: block;
      width: 100%;
    }

    .three-col {
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr;
    }

    section dl {
      grid-template-columns: 1fr;
    }

    main {
      padding: 0px;
      margin: 20px;
    }
    
}

/**************   Contact Page   *****************/
.one-col {
	display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #099ad3;
  margin: 25px;
}

header {
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 10px 20px;
}

header h1 {
  color: orange;
  font-family: "Montserrat", sans-serif;
  padding: 0px 50px;
  padding-top: 10px;
}

input {
  padding: 21px;
}

textarea {
  padding: 21px;
}